:root {
  --primary: #FFFFFF;
  --secondary: #d87d2e;
  --secondary-light: #242034;
  --bg-color: #F1F4FB;
  --blue:#0000FF;
  --red:#FF0000;
  --green:#008000;
  --yellow:#FFFF00;
  --grey:#808080;
  --lightgrey:#B3B6B7;
  --darkgrey:#424949;
  // --bg-color: #EEF2F5;
}